<.flash_group flash={@flash} />
<h1 class="text-5xl">Welcome to EasyChess!</h1>

<p>Get started by entering an existing lobby code:</p>
 <input class="bg-slate-200 rounded px-3 py-2" />
<p>Or, create a new lobby:</p>
 <a href="/lobby/create" class="cursor-pointer rounded bg-slate-200 px-3 py-2">New Lobby</a>
