@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #e0f7fa, #ffecb3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
